extends layout

block common
  - let arr = ['one','two','three']
  mixin list(arr)
    for item in arr
      if item
        li= item
        if block
          block
        else
          li= no
      else
        li #{item}
block content
  h1= title
  p Welcomee to #{title} !
  ul
    each value,index in arr
      li #{index + 1}、 #{value}
  ul
    for item in arr
      if item
        li= item
      else
        li #{no}!
  ul
    +list(arr)
      li block
    